{%extends 'faculty.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
{%block content %}
<div class="row ">
  <div class="col col-3">
    Name :
  </div>
  <div class="col col-3">
    {{sname}}
  </div>
  <div class="col col-3">
    USN  :
  </div>
  <div class="col col-3">
    {{usn}}
  </div>
  <div class="col col-3">
    Sem :
  </div>
  <div class="col col-3">
    {{sem}}
  </div>
  <div class="col col-3">
    email :
  </div>
  <div class="col col-3">
    {{email}}
  </div>
  <div class="col col-3">
    Student Phone :
  </div>
  <div class="col col-3">
    {{sphone}}
  </div>
  <div class="col col-3">
    Email :
  </div>
  <div class="col col-3">
    {{email}}
  </div>
</div>
{% endblock %}



  </body>
</html>
